:one:``Respect your moderators.``
:black_small_square: These guys give up their time voluntarily to help out with any issues that you might have. Try not to make their job harder than it needs to be. 
:black_small_square: Likewise, respect their decisions; do not make jokes about any warnings they may give, or make a fuss if their decision isn't what you think it should be. 
:black_small_square: Feel free to message any of the moderators ( @Boss and @B-SQUAD ) if you have any questions or concerns!

:two:``Respect your fellow roleplayers, and the channels.``
:black_small_square: At the end of the day, we're all here for the same thing: To roleplay and have some fun. Show your fellow fans and roleplayers the same respect you would like to be shown! 
:black_small_square: Harassing, defaming, or bringing private matters into public chat will not be tolerated.
:black_small_square: Each channel exists for a reason! Keep conversations in the appropiate place ( NSFW content for example should be in #nsfw-peepshow, #artshow, and #nsfw-chat. Purposely posting NSFW images elsewhere will result in disciplinary action.)

:three:``If you want to introduce yourself, we have a channel for that!``
:black_small_square: In #f-list-introductions, you can introduce yourself to the server's userbase by linking the F-List profiles you're associated with. You can also include a written introduction - but keep it short and simple.
:black_small_square: Any plans to continue your introduction after your original post should also include your Discord @user handle!
:black_small_square: Do not post anything else other than your introduction, as the channel isn't for general discussion.

:four:``We do not condone hate speech.``
:black_small_square: This includes with respect to all demographics: sex/gender, sexuality, race, political beliefs, religion, etc.

:five:``This is not the place for debates on aforementioned touchy topics.``
:black_small_square: Bara is not the place for these subjects - Please keep them to PMs.

:six:``Don't spam messages, links, memes, or emojis excessively.``
:black_small_square: Don't annoy users with excessive pings. Don't make rapid fire posts when you can just make one, larger post.

:seven:``All other F-List site-wide rules apply, aside from SOME leniency.``
:black_small_square: Publicly complaining about F-List, channel rules, moderation or channel moderators will not be tolerated.

:eight:``Warnings follow a three strike system.``
:black_small_square: Warning  :heavy_minus_sign: Timeout :heavy_minus_sign:  Ban. 
:black_small_square: This is just a model, however, and, depending on severity, the moderators may change it as they see fit.

The admins reserve the right to modify the rules at any time. Any changes made will be documented so there is no confusion. Any questions pertaining to the rules can be directed to @Boss and @B-SQUAD.

**Changelog**
```▶ March 06 - Overhauled and clarified.
● Most of the existing rules were further elaborated on and clarified.
● Rule 5 added.```
